:root {
    --blue0: #1EB5E8; /*3590F3*/
    --blue1: #62BFED;
    --blue2: #8FB8ED;
    --black: #21252E; /* dark contrast */
    --grey: #2F333C;  /* background */
}

body {
    background-color: var(--grey);
}

.wrapper {
    margin: auto;
    width: 95%;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--blue0);
}

h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: var(--blue0);
}

p, li, label{
    font-family: sans-serif;
    word-wrap: break-word;
    color: white;
}

.signupMessage {
    background-color: rgba(255, 0, 0, 0.15);
    margin: auto;
    padding: 5px;
    width: 40%;
}


.createNewClassOrderDiv {
    float: left;
    width: 49%;
    /*border: solid 1px;*/
    margin: 30px;
    padding: 20px;
    background-color: var(--black);
}

/*
.ClassDetailsDisplayDiv {
    float: left;
    
}*/

/* Navbar Styling */

.decoNav {
    margin: auto;
    background-color: var(--black);
    width: 50%;
}

.navItems {
    background-color: var(--black);
    float: left;
    list-style: none;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    width: 20%;
    
    

}

.navItems:hover {
    background-color: var(--blue0);
    color: var(--black);
}

.activePage {
    background-color: var(--grey);
    float: left;
    list-style: none;
    margin: auto;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    width: 20%;
    
}

.databaseDispTable {
    width: 100%;
    background-color: var(--black);
    border-collapse: collapse;
}

tr:hover {
    background-color: var(--blue0);
    color: var(--black);
}

th {
    color: var(--blue0);


    font-size: small;
}

td {
    color: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: smaller;
}

tr {
    border-bottom: 1px solid #ddd;
}

/* makes elements invisible */
.invis {
    visibility: hidden;
    display: none;
}

a {
    color: white;
}

.logoutButton {
    /*padding-top: 6px;*/
    margin: auto;
    margin-top: 4px;
    margin-right: 3px;
    background-color: red;
    width: 70px;
    border-radius: 5px;
    float: right;
    font-size: small;
    text-align: center;
}

.IndexNavRow {
    /*background-color: white;*/
    width: 100%;
    padding: 6px;
    margin: auto;
    align-self: center;
    justify-content: space-evenly;
    
}


/* gallery base is from https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive */



div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  opacity: 70%;
}

div.gallery img:hover {
    opacity: 100%;
}

.responsive {
  padding: 0px 0px;
  float:left;
  width: 33.33%;
  /*background-color: white;*/
}
/*
@media only screen and (max-width: 900px) {
  .responsive {
    width: 42%;
    /*margin: 6px 0;*/
  /*}
}*/

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.foggyGlass {
    background-color: rgb(255 255 255 / 20%);
    border-radius: 20px;
    width: 60%;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    align-content: center;
    backdrop-filter: blur(10px);
    
}

/*.loginBG {
    
    max-width:  100%;
    height: auto;
    background-repeat: no-repeat;
}*/

.foggyGlass:hover {
    backdrop-filter: blur(15px);
}


.imageAttribution {
    margin: auto;
    background-color: var(--black);
    padding-bottom: 20px;
    width: 80%;
}
/*tr:nth-child(even) {
    background-color: var(--grey);
}*/



/*.rulesDiv {
    border: solid 1px;
}*/

.ClassDetailsDisplayDiv {
    float: left;
}